* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

body {
  font-family: "DM Sans", sans-serif;
}

.container {
  width: 70%;
  margin: 0 auto;
}

.main-content {
  margin-block: 4rem;
}

#new .container .christmas-wish-and-party .content a,
#new .container .about-new .content a,
.banner .container .content a {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40%;
  height: 7vh;
  background: #00873e;

  color: #fff;

  border-radius: 4px;
}
