header {
  height: 25vh;
  background-image: url(../img/light_bulb.png);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position-x: right;

  z-index: 999;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: 60%;
}

header .container nav ul {
  display: flex;
  gap: 3rem;
}

header .container nav ul li a {
  color: #000;
}

header .container nav ul li:first-child a {
  color: #00873e;
}

header .container .sign-up-and-sign-in {
  display: flex;
  gap: 2rem;
}

header .container .sign-up-and-sign-in a {
  padding: 0.5rem;
  color: #000;
}

header .container .sign-up-and-sign-in a:last-child {
  background: #00873e;

  border-radius: 4px;
  color: #fff;
}

.content-banner {
  height: 75vh;
}

.banner {
  position: absolute;
  top: 0;
  background: url(../img/BG.png);
  background-size: cover;
  width: 100%;
  height: 100vh;
  z-index: -1;
  padding-top: 10%;
}

.banner .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  gap: 2rem;
}

.banner .container .content h1 {
  font-size: 3.5rem;
  font-family: "Yeseva One", cursive;
}

.banner .container .content p {
  font-size: 1rem;
  line-height: 2rem;

  margin-block: 1.5rem;
}

.banner .container .content-image {
  display: flex;
  justify-content: flex-end;
}

.banner .container .content-image img {
  width: 100%;
}

#new .container .about-new {
  display: flex;
}

#new .container .christmas-wish-and-party .content,
#new .container .christmas-wish-and-party .content-image,
#new .container .about-new .content,
#new .container .about-new .content-image {
  width: 50%;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about .container .content h2,
#new .container .christmas-wish-and-party .content h2,
#new .container .about-new .content h2 {
  font-size: 3rem;
  font-family: "Yeseva One", cursive;
  font-weight: 300;
}

#about .container .content > p,
#new .container .christmas-wish-and-party .content p,
#new .container .about-new .content p {
  margin-block: 1.5rem;
}

#new .container .christmas-wish-and-party img,
#new .container .about-new img {
  width: 70%;
}

#new .container .christmas-wish-and-party {
  margin-block: 3rem;
  display: flex;
}

#new .container .christmas-wish-and-party .content-image {
  display: flex;
  align-items: flex-end;
}

/* GIFT */
#gift {
  background: #d9f7ff;

  margin-top: 5rem;

  display: flex;
  flex-direction: column;
  height: auto;
}

#gift .shadow {
  position: relative;
  width: 100%;
  height: 2px;
}

#gift .container {
  height: 99.8%;
  padding-bottom: 5rem;
}

#gift .container .title {
  display: flex;
  align-items: center;
  flex-direction: column;

  text-align: center;
  padding-block: 4rem;
}

#gift .container .title h2 {
  font-size: 2.5rem;
  font-family: "Yeseva One", cursive;
  margin-bottom: 1rem;
}

#gift .container .title p {
  max-width: 65%;
}

#gift .container .gift-items {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

#gift .container .gift-items .item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#gift .container .gift-items .item img {
  width: 20%;
  text-align: center;
  margin: 0 auto;
}

#gift .container .gift-items .item h3 {
  padding-block: 0.9rem;
  font-family: "Yeseva One", cursive;
  font-weight: 300;
}

/* ABOUT */
#about {
  padding-block: 5rem;
  display: flex;
}

#about .container {
  display: flex;
  height: 98%;
}

#about .container .content,
#about .container .content-image {
  width: 50%;
}

#about .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about .container .content-image img {
  width: 80%;
}

#about .container .content .preset-about-live {
  display: flex;
}

#about .container .content .preset-about-live img {
  width: 20%;
}

#about .container .content .preset-about-live h3 {
  margin-block: 0.5rem;
}

#join {
  background: #d9f7ff;
  padding-block: 5rem;
}

#join .container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

#join .container .form {
  width: 50%;
}

#join .container .form h2 {
  font-family: "Yeseva One", cursive;
  font-weight: 400;
  font-size: 3rem;
}

#join .container .form-content {
  background: #fff;
  padding: 2rem;
  border-radius: 4px;

  margin-top: 1rem;
}

#join .container form input {
  width: 100%;
  box-sizing: border-box;

  margin-top: 1rem;
  padding: 1rem 0.5rem;

  border: 1px solid #ccc;
  border-radius: 0.3rem;
}

#join .container form button {
  margin-top: 1rem;
  width: 40%;
  padding: 0.8rem;

  background: #00873e;
  border: 0;

  color: #fff;

  border-radius: 0.2rem;
}

#join .container .content-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

#join .container .content-image img {
  width: 90%;
}
