header {
  height: 25vh;
  background-image: url(../img/light_bulb.png);
  background-repeat: no-repeat;
  background-size: 30%;
  background-position-x: right;

  background-color: #ffeaea;
}

.content-banner {
  height: 75vh;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  height: var(--width-container);
}

header .container nav ul {
  display: flex;
  gap: 3rem;
}

header .container nav ul li a {
  color: #000;
}

header .container nav ul li:first-child a {
  color: var(--bg-secondary);
}

header .container .sign-up-and-sign-in {
  display: flex;
  gap: 2rem;
}

header .container .sign-up-and-sign-in a {
  padding: 0.5rem;
  color: #000;
}

header .container .sign-up-and-sign-in a:last-child {
  background: var(--bg-secondary);

  border-radius: 4px;
  color: #fff;

  transition: background, 0.3s;
}

header .container .sign-up-and-sign-in a:last-child:hover {
  background: var(--bg-secondary-hover);
}

.banner {
  position: absolute;
  background: url(../img/BG.png);
  background-size: cover;
  width: 100%;
  height: 75vh;
}

.banner .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
  gap: 2rem;
}

.banner .container .content h1 {
  font-size: 3.5rem;
  font-family: var(--font-title);
}

.banner .container .content p {
  font-size: 1rem;
  line-height: 2rem;
  margin-block: 1.5rem;
}

.banner .container .content-image {
  display: flex;
  justify-content: flex-end;
}

.banner .container .content-image img {
  width: 100%;
}

#new .container .about-new {
  display: flex;
}

#new .container .christmas-wish-and-party img,
#new .container .about-new img {
  width: 70%;
}

#new .container .christmas-wish-and-party {
  margin-block: 3rem;
  display: flex;
}

#new .container .christmas-wish-and-party .content-image {
  display: flex;
  align-items: flex-end;
}

/* GIFT */
#gift {
  background: var(--bg-primary);

  margin-top: 5rem;

  display: flex;
  flex-direction: column;
  height: auto;
}

#gift .shadow {
  position: relative;
  width: 100%;
  height: 2px;
}

#gift .container {
  height: 99.8%;
  padding-bottom: 5rem;
}

#gift .container .title {
  display: flex;
  align-items: center;
  flex-direction: column;

  text-align: center;
  padding-block: 4rem;
}

#gift .container .title h2 {
  margin-bottom: 1rem;
}

#gift .container .title p {
  max-width: 65%;
}

#gift .container .gift-items {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
}

#gift .container .gift-items .item {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#gift .container .gift-items .item img {
  width: 20%;
  text-align: center;
  margin: 0 auto;
}

#gift .container .gift-items .item h3 {
  padding-block: 0.9rem;
  font-family: "Yeseva One", cursive;
  font-weight: 300;
}

/* ABOUT */
#about {
  padding-block: 5rem;
  display: flex;
}

#about .container {
  display: flex;
  height: 98%;
}

#about .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#about .container .content-image img {
  width: 80%;
}

#about .container .content .preset-about-live {
  display: flex;
}

#about .container .content .preset-about-live img {
  width: 20%;
}

#about .container .content .preset-about-live h3 {
  margin-block: 0.5rem;
}

#join {
  background: #d9f7ff;
  padding-block: 5rem;
}

#join .container {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

#join .container .form {
  width: 50%;
}

#join .container .form h2 {
  font-family: "Yeseva One", cursive;
  font-weight: 400;
  font-size: 3rem;
}

#join .container .form-content {
  background: #fff;
  padding: 2rem;
  border-radius: 4px;

  margin-top: 1rem;
}

#join .container .form-content .title-form h3 {
  font-family: "Yeseva One", cursive;
  font-weight: 300;
  margin-bottom: 0.7rem;
}

#join .container .form-content .title-form p {
  font-weight: 100;
}

#join .container form input {
  width: 100%;
  box-sizing: border-box;

  margin-top: 1rem;
  padding: 1rem 0.5rem;

  border: 1px solid #ccc;
  border-radius: 0.3rem;
}

#join .container form button {
  margin-top: 1rem;
  width: 40%;
  padding: 0.8rem;

  background: #00873e;
  border: 0;

  color: #fff;

  border-radius: 0.2rem;
}

#join .container .content-image {
  width: 50%;
  display: flex;
  justify-content: flex-end;
}

#join .container .content-image img {
  width: 90%;
}

footer {
  height: 40vh;
}

.footer-bottom {
  background-color: #fff;
  background-image: url(../img/Footer\ Bottom.png);
  background-size: cover;
  background-position: bottom;

  height: 50%;
}

footer .container {
  display: flex;
  justify-content: space-between;
  height: 50%;
}

footer .container img {
  width: 15%;
}

@media (max-width: 640px) {
  header .container .logo,
  header .container #openBtnMenuMobile {
    position: relative;
    z-index: 1;
  }

  #openBtnMenuMobile {
    padding: 0.5rem;
    background: var(--bg-secondary);
    border: 0;
    color: #fff;
  }

  header #mobileMenuDisplay {
    background: #111111;
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    display: none;
  }

  header #mobileMenuDisplay.menu-open {
    display: flex;
  }

  header #mobileMenuDisplay ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    margin: auto;
    width: 90%;
  }

  header #mobileMenuDisplay ul li:first-child {
    border-top: none;
  }

  header #mobileMenuDisplay ul li {
    width: 90%;
    text-align: center;
    margin-top: 2rem;
  }

  header #mobileMenuDisplay ul li a {
    color: #fff;
    font-size: 1.2rem;
  }

  header #mobileMenuDisplay ul li div {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    width: 100%;

    justify-content: center;
  }
  header #mobileMenuDisplay ul li div a {
    background: var(--bg-secondary);
    width: 50%;
    padding: 0.9rem 0.5rem;

    border-radius: 0.3rem;
  }

  header nav,
  header .container .sign-up-and-sign-in,
  main,
  footer,
  .content-banner {
    display: none;
  }

  .container {
    width: var(--width-container-mobile);
  }
}
